/*
BACKUP WHEN UPDATING TO PRESERVE FONT

just here so that plotly works
correctly with ioslides.
see https://github.com/ropensci/plotly/issues/463
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

slide:not(.current) .plotly.html-widget{
  display: none;
}

text {
  font-family: "Roboto" !important;
  font-weight: 400;
}

.xtitle, .ytitle {
  font-weight: 500 !important;
}

.gtitle {
  font-weight: 700 !important;
}
