/* Tab Styling */
.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabs .tabs-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tabs .tabs-list li {
  width: auto;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

.tabs .tabs-list li a {
  text-decoration: none;
  color: black;
  padding: 14px 16px;
}

/* Hover effects */
.tabs .tabs-list li:hover {
  background-color: #5585e6;
  transition-duration: 0.3s;
}

.tabs .tabs-list a:hover {
  color: white;
}

/* Tab content */
.tabs .tab {
  display: none;
  padding: 6px 12px;
}

/* Active tab */
.active {
  display: block !important;
}

.tabs .tabs-list li.active {
  background-color: #3165cc;
}

.active a {
  color: white !important;
}

body {
  font-family: 'Roboto', sans-serif;
}
